# Игнорировать папку конфигурации PyCharm
.idea/

.ipynb_checkpoints/

# Игнорировать файлы миграций
*/migrations/*.pyc
# Ignore Python cache files

# Игнорировать файлы кэша
__pycache__/
*.py[cod]
*.py



# SQLite database
db.sqlite3
db.sqlite3-journal

# Исключить файлы конфигурации с паролями
config/settings_local.py

# Игнорировать виртуальные среды
env/
venv/
.env/
.venv/
mechanics-venv/
.obsidian/

# VS Code
.vscode/

# Логи
*.log

# Временные файлы
*.tmp
*.bak

# Django configuration
*.env
.env
.env.*

# Сборки и зависимости
build/
dist/

# Результаты тестов и покрытия
.coverage
htmlcov/

checkpoint.ipynb

# JupyterLab workspace state
.jupyter/desktop-workspaces/
drafts/